@import "bootstrap";

.jumbotron {
  text-align: center;
  color: white;
  background: url('https://images.unsplash.com/photo-1460317442991-0ec209397118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-color: rgba(0,0,0,1.0);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;

}

#header {
  color: #B2B2A2;
}
